@model Association


<form class="shadow p-3 rounded" asp-controller="Category" asp-action="Associate" asp-route-categoryId="@ViewBag.categoryId" method="POST">
    <select>
        @{
            List<Product> allProducts = new List<Product>();
            allProducts = ViewBag.allProducts;

            List<Product> existingProducts = new List<Product>();
            existingProducts = ViewBag.existingProducts;

            foreach (Product product in allProducts)
            {
                if (existingProducts.Contains(product) == false)
                {
                    <option value="@product.ProductId">@product.Name</option>
                }
            }

                
        }
    </select>

    <button class="btn btn-success">Add Association</button>
</form>